<div class="list-group">
  <span> <input type="checkbox" [checked]="gamersValue" (change)="checkChange(gamersValue, 'gamers')"><label>Gamers</label></span>
  <span><input type="checkbox" [checked]="Iot" (change)="checkChange(Iot, 'Iot')" class="checkbox"><label>IoT Industrial</label></span>
  <span><input type="checkbox" [checked]="smartF" (change)="checkChange(smartF, 'smartF')" class="checkbox"><label>Smart Farming</label></span>
  <span><input type="checkbox" [checked]="Medi" (change)="checkChange(Medi, 'Medi')" class="checkbox"><label>Medical IoT</label></span>
  <!-- <span><input type="checkbox"[checked]="smartH" (change)="checkChange(smartH, 'smartH')"  class="checkbox"><label>Smart Home</label></span> -->
</div>
