<div class="customer-attr">
  <div class="title">{{title}}</div>
<form
    [formGroup]="customerForm"
    novalidate
    (ngSubmit)="getCustomerDetails()"
>
<div class="form-content">
    <div class="form-group">
        <label>Customer_ID:</label>
        <input
            class="form-control"
            formControlName="name"
            type="text"
        >
    </div>
    <div class="form-group">
        <label>Avg. data usage per day (GB):</label>
        <input
            class="form-control"
            formControlName="address"
            type="text"
        >
    </div>
    <div class="form-group">
        <label>Network type:</label>

        <select class="form-control" formControlName="network">
          <option value="4G" selected>4G</option>
          <option value="3G">3G</option>
          <option value="2G">2G</option>

        </select>


    </div>
    <div class="form-group">
        <label>Browsing Time:</label>
        <select class="form-control" formControlName="streaming">
          <option value="Evening" selected>Evening</option>
          <option value="Evening">Morning</option>
          <option value="Evening">Noon</option>
        </select>
    </div>
    <div class="form-group">
        <label>Mobile device (#):</label>
        <input
            class="form-control"
            formControlName="device"
            type="text"
        >
    </div>
    <div class="form-group">
        <label>Streaming time (mins):</label>
        <input
            class="form-control"
            formControlName="time"
            type="text"
        >
    </div>
    <div class="form-group">
        <label>User type:</label>
        <select class="form-control" formControlName="userType">
          <option value="Consumer" selected>Consumer</option>
          <option value="">Enterprise</option>
        </select>
    </div>
    <div class="form-group">
    <button
    type="submit"
    [disabled]="customerForm.pristine || customerForm.invalid"
    class="btn btn-success"
>
    Get AI based Customer Segmentation
</button>
</div>

  </div>
</form>
<div
    *ngIf="showgroup"
    class="customer-details"
>
    This Customer belongs to
    <span [ngClass]="customerGroup">"{{customerGroup}}"</span>
    Customer Segment
</div>
<div
    class="component-loading"
    *ngIf="loading"
>
    <img src="../assets/img/radial-lightx2-2Y5eG.gif">
</div>



</div>
