<div class="info-component">
  <div class="content">
    <div class="inner-item">
      <img src="../../../assets/img/subscribe.png">
      <div class="value-column">
        <span class="label">Subscriber</span>
        <span class="value">8M</span>
      </div>
    </div>
    <div class="inner-item">
      <img src="../../../assets/img/revenue.png">
      <div class="value-column">
        <span class="label">Revenue</span>
        <span class="value">23,412,000</span>
      </div>

    </div>
    <div class="inner-item">
      <img src="../../../assets/img/percentage.png">
      <div class="value-column">
        <span class="label">Churn Rate</span>
        <span class="value">60%</span>
      </div>
    </div>
  </div>

</div>
