<div class="two-column" ngClass="{{styleName}}">
    <div class="two-column-content">
        <div class="text-content">
          <div class="content">
            <div class="title">{{twoColumns.title}}</div>
            <div class="description">{{twoColumns.desc}}</div>
          </div>
        </div>
        <div class="img-content">
            <div class="two-column-image">
                <img
                    src="../../../assets/img/{{twoColumns.img}}"
                    title="hero"
                >
            </div>
        </div>
    </div>
</div>
