<div class="row" style="height: 608px; background-color:rgb(227, 250, 248);">
  <!-- <div style="height: 578px;background-color:whitesmoke; justify-content: center;margin: 20px;">
    <div class="col-md-6" style="background-color:whitesmoke; justify-content: center;">
      <p-chart type="bar" [data]="data" [options]="barOptions"></p-chart>
    </div>
    <div class="col-md-6" style="height: 608px;background-color:whitesmoke">
        <div class="row">
          <div class="col-md-6"><p-chart type="bar" [data]="data" [options]="barOptions" width="200px" height="150px"></p-chart></div>
          <div class="col-md-6"><p-chart type="line" [data]="data" [options]="barOptions" width="200px" height="150px"></p-chart></div>
        </div>
        <div class="row">
          <div class="col-md-6"><p-chart type="pie" [data]="data" [options]="barOptions" width="200px" height="150px"></p-chart></div>
          <div class="col-md-6"><p-chart type="bar" [data]="data" [options]="barOptions" width="200px" height="150px"></p-chart></div>
        </div>
        <div class="row">
          <div class="col-md-6"><p-chart type="bubble" [data]="data" [options]="barOptions" width="200px" height="150px"></p-chart></div>
          <div class="col-md-6"><p-chart type="line" [data]="data" [options]="barOptions" width="200px" height="150px"></p-chart></div>
        </div>
        <div class="row">
          <div class="col-md-6"><p-chart type="line" [data]="data" [options]="barOptions" width="200px" height="150px"></p-chart></div>
          <div class="col-md-6"style="width: 200px;height: 100px;">
            <table class="table table-responsive table-bordered" style="width: 200px;font-size: 7px;font-weight: bold;">
              <tr class="row-height">
                <td>Initial number of clients</td>
                <td>1000</td>
              </tr>
              <tr class="row-height">
                <td>Average connected clients</td>
                <td>0.91</td>
              </tr>
              <tr>
                <td>Average bandwidth usage</td>
                <td>57.739gbps</td>
              </tr>
              <tr>
                <td>Average Load factorof slices</td>
                <td>0.08</td>
              </tr>
              <tr>
                <td>Average coverage ratio</td>
                <td>0.95</td>
              </tr>
              <tr>
                <td>Average block ratio</td>
                <td>0.0705</td>
              </tr>
              <tr>
                <td>Average handover ratio</td>
                <td>0.0026</td>
              </tr>
              </table>
          </div>
        </div>
    </div>
  </div> -->
</div>
