<div class="dashboard">
<div class="header">
  <app-breadcrumb [breadcrumb]="menu"></app-breadcrumb>
  <app-nav-bar class="nav-bar" [navBar]="navItem"></app-nav-bar>
</div>
<app-three-columns></app-three-columns>

<app-map></app-map>
<div class="graph-section">
  <div class="bar-containers">
    <div class="label-section">Edge Customer Segmentation</div>
    <select>
      <option>Last 6 Months</option>
      <option>Last 1 Year</option>
    </select>

  </div>
  <div class="two-column">

    <div class="left-column">
      <app-bar-chart></app-bar-chart>
    </div>
    <div class="right-column">
      <app-revenue></app-revenue>
    </div>
  </div>


<app-chart></app-chart>
</div>
<router-outlet></router-outlet>
</div>
