.map-section {
  padding: 30px 30px;
  background: #A3DEEC 0% 0% no-repeat padding-box;

}

#map {
  margin: 0 0;
  svg {
    width: 630px;
    height: 400px;
    margin: 0 auto;

  }
}
.region {
  display: flex;
  width: 100%;
  flex-flow: wrap;
}
.title {
  letter-spacing: 0.64px;
  color: #203338;
  text-transform: uppercase;
  opacity: 1;
  line-height: 16px;
  font-size: 18px;
  font-weight: bold;
  padding: 0 0;
  margin: 30px 0 30px 0px;
}
.map-content {
  padding: 30px 0;
  position: relative;
}
.map-title {
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 900;
    line-height: 1;

}

.left-column, .right-column {
  width: 100%;
}
.right-column {
  padding-top: 10px;
  .label {
    letter-spacing: 0.64px;
    width: 200px;
    color: #203338;
    text-transform: capitalize;
    opacity: 1;
    font-size: 13px;
    line-height: 30px;
    vertical-align: middle;
    font-weight: 700;
    height: 30px;
    display: inline-block;
    margin-right: 20px;
  }
}
.sub-title {
  letter-spacing: 0.64px;
    color: #203338;
    text-transform: uppercase;
    opacity: 1;
    font-size: 20px;
    font-weight: 900;
    line-height: 1;
    padding-bottom: 20px;
    margin-top: 20px;
}
.regin-cover {
  height:  60px;
  min-width:10px;
  padding: 10px 10px;
  letter-spacing: 0.64px;
color: #000;
text-transform: capitalize;
margin: 2px;
font-size:12px;
font-weight: 900;
}


.oragne {
  background-color: #c6fc03;
  border: 1px solid #c6fc03;
}


.blue {
  background-color: #f28cb1;
  border: 1px solid #f28cb1;
}


.purple {
  background-color: #f1f075;
  border: 1px solid #f1f075;
}


.green {
  background-color: #51bbd6;
  border: 1px solid #51bbd6;
}

::ng-deep .options {
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
  margin-top: 20px;
}
::ng-deep .caption {
  font-size: 18px;
  font-weight: 500;
}
::ng-deep .option {
  margin-top: 10px;
}
.bm_bottomLeftOverlay {
  display: none;
}


.region-item {
  width: 50%;
  margin-bottom: 20px;
}
