<div class="process-content">
  <div class="header">
    <span class="label">Process</span>
      <app-nav-bar
          class="nav-bar"
          [navBar]="navItem"
      ></app-nav-bar>
  </div>
  <div class="row">
    <div class="hero-image">
      <div class="table-parent">
        <div class="heading-parent">
          <span class="cluster-text">Cluster</span>
          <span class="bandwidth-text">Bandwidth range</span>
        </div>
        <div class="first-parent">
          <input type="text" class="process-input1" name="demo-min" readonly placeholder="Gamer">
          <input type="text" class="process-input2" name="demo-min" placeholder="Min">
          <input type="text" class="process-input3" name="demo-min" placeholder="Max">
          <input type="text" class="process-input4" name="demo-min" placeholder="Qos">
        </div>
        <div class="second-parent">
          <input type="text" class="process-input1" name="demo-min" readonly placeholder="IoT Industrial">
          <input type="text" class="process-input2" name="demo-min" placeholder="Min">
          <input type="text" class="process-input3" name="demo-min" placeholder="Max">
          <input type="text" class="process-input4" name="demo-min" placeholder="Qos">
        </div>
        <div class="third-parent">
          <input type="text" class="process-input1" name="demo-min" readonly readonly placeholder="Smart Farming">
          <input type="text" class="process-input2" name="demo-min" placeholder="Min">
          <input type="text" class="process-input3" name="demo-min" placeholder="Max">
          <input type="text" class="process-input4" name="demo-min" placeholder="Qos">
        </div>
        <div class="fourth-parent">
          <input type="text" class="process-input1" name="demo-min" readonly placeholder="Medical IoT">
          <input type="text" class="process-input2" name="demo-min" placeholder="Min">
          <input type="text" class="process-input3" name="demo-min" placeholder="Max">
          <input type="text" class="process-input4" name="demo-min" placeholder="Qos">
        </div>
        <div class="fifth-parent">
          <input type="text" class="process-input1" name="demo-min" readonly placeholder="Smart Home">
          <input type="text" class="process-input2" name="demo-min" placeholder="Min">
          <input type="text" class="process-input3" name="demo-min" placeholder="Max">
          <input type="text" class="process-input4" name="demo-min" placeholder="Qos">
        </div>
      </div>
      <div class="hero-text">
        <div class="click-position" (click)="gotoOutput()"></div>
      </div>
    </div>
    <div class="graph1">
    <div *ngIf="graphFlag" class="graph-image">
      <div class="geo-min" id="outputGraph">

      </div>

    </div>
    <p  *ngIf="graphFlag" class="copy-right">&copy; Credits : <a href="https://github.com/cerob/slicesim">https://github.com/cerob/slicesim</a> </p>
  </div>
  </div>
</div>
<div
    class="component-loading"
    *ngIf="loading"
>
    <img src="../assets/img/radial-lightx2-2Y5eG.gif">
</div>
